<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
  </head>

  <body>

    <div id="all">

      {{ partial "nav.html" . }}

      {{ partial "header.html" . }}

      <div class="container-xl text-center">

        {{ block "main" . }}
          This will be replaced with content from the 
          corresponding "define" action found in the template
          to which this base template is applied.
        {{ end }}

        {{ partial "sponsors.html" . }}
        
      </div>

      {{ partial "footer.html" . }}
      
    </div>

    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
