<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.Param "organizer-url" }}">
    </a>
    <a class="navbar-brand" href="{{ site.Param "organizer-url" }}">
      {{ site.Param "organizer" }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center ms-auto mb-lg-0">
        {{/* Main */}}
        <li class="nav-items">
          <a class="nav-link" href="#">{{ page.Param "title" }}</a>
        </li>

        {{/* Visible pages */}}
        {{ range site.RegularPages }}
        <li class="nav-item">
          <a class="nav-link" href="#{{ .Param "id" }}">{{ .LinkTitle }}</a>
        </li>
        {{ end }}

        {{/* Sponsors */}}
        <li class="nav-item">
          <a class="nav-link" href="#{{ site.Param "sponsors-id" }}">{{ site.Param "sponsors" }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
