<!-- Masonry -->
{{ $masonry := resources.Get "node/masonry.pkgd.min.js" }}
<script src="{{ $masonry.Permalink }}"></script>

<!-- Bootstrap -->
{{ $bootstrap := resources.Get "node/bootstrap.bundle.min.js" }}
<script src="{{ $bootstrap.Permalink }}"></script>

<!-- Scripts -->
<script src="{{ "js/main.js" | relURL }}"></script>
<script src="{{ "js/shader.js" | relURL }}"></script>

<!-- Page shaders -->
{{ range .Page.Resources.Match "*.vert"}}
<script src="{{ .RelPermalink }}" type="x-shader/x-vertex"></script>
{{ end }}
{{ range .Page.Resources.Match "*.frag"}}
<script src="{{ .RelPermalink }}" type="x-shader/x-fragment"></script>
{{ end }}
