{{ if isset site.Data "sponsors" }}
{{ if gt (len site.Data.sponsors) 0 }}
<section id="sponsorit">
  <div class="row justify-content-md-center">
    <div class="col-md-8 sponsors content-block">
      <h2>{{ i18n "sponsors" | title }}</h2>
      <div class="masonry">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{ range sort site.Data.sponsors "name" "asc" }}
          <div class="sponsor">
            <a href="{{ .url }}" target="_blank">
              <img src="{{ .image }}" alt="{{ .name }}" class="sponsor-image" />
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
