/* HTML reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --primary-accent: #ff9500;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Playfair Display";
    src: url(typefaces/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playfair Display";
    src: url(typefaces/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

/* Footer placement, DO NOT ALTER */
@media all {
    html, body, #all {
        min-height: 100vh !important;
    }
    #all {
        display: flex !important;
        flex-direction: column !important;
    }
    footer {
        margin-top: auto !important;
    }
}

/* Footer layout */
@media all {
    footer {
        border-top: 1px solid black;
        display: block flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        height: 3rem;
    }
}

/* Font settings */
@media all {
    html {
        font-family: "Libre Baskerville";
        font-weight: 400;
    }

    strong {
        font-weight: 700;
    }

    i {
        font-style: italic;
    }
}

/* Sponsors */
@media all {
    .sponsors .masonry {
        padding: 2%;

        .grid-sizer, .sponsor {
            width: 30%;
        }
        .gutter-sizer {
            width: 3%;
        }
        .sponsor-image {
            width: 100%;
        }
    }
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
}

.header {
    background-color: #ff9500;
    position: relative;
    padding: 0;
    padding-bottom: 100px;
    padding-top: 100px;
    z-index: -2;
}

#shader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.4em;
}

p {
    padding-bottom: 1.5em;
}

:target {
    scroll-margin-top: 30px;
}
