/* HTML reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
}

/* Colour definitions */
:root {
    --primary-accent: #eee;
    --secondary-accent: #888;
    --primary-background: #111;
    --secondary-background: #444;
    --text-color: #ccc;
    --highlight-color: #fff;
}

/* Font settings */
@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Playfair Display";
    src: url(typefaces/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playfair Display";
    src: url(typefaces/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

body {
    font-family: "Libre Baskerville";
    font-weight: 400;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

p, h1, h2 {
    color: var(--text-color);
}

/* Sponsor layout */
.sponsors .masonry {
    padding: 2%;

    .grid-sizer, .sponsor {
        width: 30%;
    }
    .gutter-sizer {
        width: 3%;
    }
    .sponsor-image {
        width: 100%;
    }
}

/* Containers */
body {
    background-color: var(--primary-background);
    min-height: 100vh !important;
}

.header {
    background-color: var(--primary-accent);
    background-size: cover;
    background-position: center;
    padding: 0;
    padding-bottom: 150px;
    padding-top: 150px;
    margin-bottom: 2em;
}

.inner-header {
    border-radius: 10px;
    background-color: var(--secondary-background);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    h1 {
        color: var(--highlight-color);
    }
}

#shader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(4px);
}

.content-block {
    padding-top: 2em;
    padding-bottom: 2em;

    p {
        padding-bottom: 1.5em;
    }

    a:visited {
        color: var(--secondary-accent);
    }

    a {
        color: var(--primary-accent);
    }

    h2 {
        color: var(--primary-accent);
        padding-bottom: 0.4em;
    }
}

.navbar {
    padding: 0;

    background-color: var(--secondary-background);
    
    .navbar-nav {
        align-content: center;
    }

    .nav-link {
        color: var(--primary-accent);
        font-weight: bold;
    }

    .navbar-logo {
        max-height: 60px;
    }

    .navbar-brand {
        padding: 0;
    }
}

.footer {
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    background-color: var(--secondary-background);
}

.inner-footer {
    border-radius: 10px;
    background-color: var(--secondary-background);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    a {
        color: var(--primary-accent);
    }
}

.picture {
    width: 100%;
    object-fit: contain;
}
