/* HTML reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
}

/* Color definitions */
:root {
    --primary-accent: #c3bb83;
    --secondary-accent: #888;
    --primary-background: #0b0b0c;
    --secondary-background: #0b0b0c;
/*  --primary-background: #181818;
    --secondary-background: rgb(15, 15, 15); */
    --text-color: #ccc;
    --title-color: #c3bb83;
    --highlight-color: #fff;

    /* Bootrstap overrides */
    --bs-link-color: var(--primary-accent);
    --bs-emphasis-color-rgb: var(--primary-accent);
    --bs-navbar-brand-color-rgb: var(--primary-accent);
    --bs-navbar-color: var(--primary-accent);

    --bs-nav-link-hover-color: var(--secondary-accent);
    --bs-link-hover-color: var(--secondary-accent);
}

/* Font settings */
@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(typefaces/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Playfair Display";
    src: url(typefaces/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playfair Display";
    src: url(typefaces/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

body {
    background-color: var(--primary-background);
    font-family: "Libre Baskerville";
    font-weight: 400;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

h1 {
    color: var(--text-color);
    font-size: 4em;
    letter-spacing: 2px;
}

h2 {
    color: var(--text-color);
    font-size: 1.5em;
    letter-spacing: 2px;
}

h3 {
    color: var(--text-color);
    font-size: 1.25em;
    letter-spacing: 1px;
}

h4 {
    color: var(--text-color);
    letter-spacing: 1px;
}

p {
    color: var(--text-color);
    line-height: 30px;
    text-align: justify;
}

hr {
    color: var(--text-color);
}

a {
    color: var(--primary-accent);
    transition-property: color; 
    transition-duration: 0.3s; 
    transition-timing-function: ease-out; 
}

a:hover {
    color: var(--secondary-accent);
}

/* Collaborator layout */
.collaborators .masonry {
    padding: 2%;
    display: flex;
    height: 100%;

    .grid-sizer, .collaborator {
        width: 42%;
    }
    .gutter-sizer {
        width: 14%;
    }
    .collaborator-image {
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        display: block;
        width: 100%;
        max-width: 100%;
        object-fit: contain;
        padding-bottom: 3em;
    }
}


/* Containers */
body {
    background-image: url("../img/web-background.png");
    background-repeat: repeat;
    min-height: 100vh !important;
}

.header {
    background-size: cover;
    background-position: center;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 2em;
}

.header-image {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.header-button {
    background-color: var(--primary-background);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: var(--primary-accent);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin: 20px;
    color: var(--title-color);
    letter-spacing: 1px;
    transition: transform .4s;
}

.header-button:hover {
    transform: scale(1.1);
}

.inner-header {

    background-size: cover;
    background-position: center;
    border-radius: 10px;

    object-fit: fill;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;


    h1 {
        color: var(--highlight-color);
        line-height: 1.5;
        letter-spacing: 2px;
        font-size: clamp(16px, calc(20px + (36-20) * (100vw - 768px)/(1920-768)), 48px);
    }
}

.inner-header-img {
    object-fit: fill;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.inner-header p::first-letter {
    font-size: larger;
}

#shader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(4px);
}

.content-block {
    padding-top: 2em;
    padding-bottom: 2em;

    p {
        padding-bottom: 1.5em;
    }

    h2 {
        color: var(--title-color);
        padding-bottom: 0.4em;
    }
}

.navbar {
    padding: 1em;
    background-color: var(--secondary-background);
    line-height: 1;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    .navbar-toggler {
        position: absolute;
        padding: 2px;
        margin: 2px;
    }
    
    .navbar-nav {
        padding: 10px;

    }

    .navbar-logo {
        max-height: 50px;
    }

    .navbar-brand {
        padding: 0;
    }

    a {
        color: var(--primary-accent);
        transition-property: color; 
        transition-duration: 0.3s; 
        transition-timing-function: ease-out; 
    }

    a:hover {
        color: var(--secondary-accent);
    }
}


.footer {
    background-color: var(--primary-background);
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    font-size: small;

    p {
        text-align: center;
        color: var(--primary-accent);
        text-decoration: none;
    }

    hr {
        width: 10%;
        align-items: center;
        margin: 1em auto 1em;
    }
}

.inner-footer {
    border-radius: 10px;
    background-color: var(--secondary-background);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.picture {
    width: 100%;
    object-fit: contain;
}

#menu {
    h2 {
        padding-bottom: 1.5em;
    }

    h3 {
        padding: 1em 0em;
    }

    h4 {
        padding: 0.2em 0em;
    }

    p {
        text-align: center;
    }
}
